{{% extends 'html/base.html' %}
{% block title %}Resetting Password{% endblock title %}

{% block content %}


<div class="container reset-password mt-5">
    <h2 class="text-center">Forgot Password</h2>
    <p class="text-center">Enter your email address, and we'll send you instructions to reset your password.</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
    </form>
</div>
{% endblock %}

