{% extends 'html/base.html' %}

{% block title %}Successful{%endblock title%}


{% block content %}
<div class="container mt-5">
    <div class="card mx-auto text-center" style="max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title mb-3">Password Reset Successful</h2>
            <p class="card-text">
                Your password has been successfully reset. You can now log in with your new password.
            </p>
            <a href="{% url 'account_login' %}" class="btn btn-primary mt-3">Go to Login</a>
        </div>
    </div>
</div>
{% endblock %}
