{% extends 'html/base.html' %}
{% block title %}Reset Password Link Sent{%endblock title%}

{% block content %}
<div class="container reset-password mt-5">
    <div class="mx-auto">
        <div class="card-body text-center">
            <h2 class="card-title mb-3">Check Your Email</h2>
            <p class="card-text">
                We’ve sent a link to reset your password to your email. Please check your inbox and follow the instructions to reset your password.
            </p>
            <p class="text-muted">
                If you don’t receive an email within a few minutes, please check your spam folder or try again.
            </p>
            <a href="{% url 'account_reset_password' %}" class="btn btn-primary mt-3">Resend Email</a>
        </div>
    </div>
</div>
{% endblock %}
